
.top-panel {

    background: #39464e;
    position: absolute;
    left: -1200px;
    width: 500px;
    height: 100%;
    top: 0;
    overflow: auto;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: left 400ms cubic-bezier(0.15,0.04,0.03,0.15);
}
.message {
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 3em 2em;
    margin: 0 auto;
    max-width: 980px;

}
.message label{
	font-size: 20px;
}
input{
	padding: 10px 6px 10px 6px;
	margin-top: 10px;
	margin-bottom: 25px;
}
button{
	padding: 10px 170px 10px 170px;
	font: normal 18px/1 FontAwesome;
	font-size: 22px;
	color: #fff;
	background-color: #dd6149;
	border: none;
	margin-top: 40px;
}
.message h1 {
    color: #fff;
    margin-left: 125px;
}
.message h2 {
    color: #888;
}
label.btn {
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: #2bbbad;
    width: 50px;
    left: 0px;
    border-radius: 0 0 5px 5px;
    padding: 8px 5px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 400ms ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 10;
}
label.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
label.btn:after {
    content: '\f078';
    font: normal 18px/1 FontAwesome;
}
.open:checked ~ .top-panel {
    top: 0;
    left: 0px;
}
 
.open:checked ~ label.btn {
    left: 500px
}
.open:checked ~ .container {
    margin-top: 300px;
}
.open:checked + label.btn {
    background: #dd6149;
}
/* Стрелка переключателя вверх*/
.open:checked + label.btn:after {
    content: '\f077';
    font: normal 18px/1 FontAwesome;
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 90%
    }
}
 
@media only screen and (max-width: 800px) {
    body {
        font-size: 100%
    }
}
 
@media only screen and (min-width: 1100px) {
    body {
        font-size: 120%
    }
}



